ODOO_VERSION=19.0

# PostgreSQL
POSTGRES_USER=odoo
POSTGRES_DB=postgres
POSTGRES_PASSWORD=odoo

# Odoo
DB_HOST=db
DB_PORT=5432
# Comma-separated list of modules to install on top of base,web
# Example: DEFAULT_MODULES=sale,purchase,stock
